.container {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 20px;
}

.main {
    background-color: #1d1d1d72;
    backdrop-filter: blur(20px);

    width: 80vw;
    max-width: 400px;

    padding: 0px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

    padding: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 500px) {
    .row>h1:nth-of-type(2) {
        display: none;
    }
}